<h1>Hello Login</h1>




<% if @error %>
    <p style= "color: red"><%= @error %></p>
<% end %>


 <%= form_tag "/send_the_form_here" do %>
  <%= label_tag :name %>
  <%= text_field_tag :name%><br>
  <%= label_tag :user_name%>
  <%= text_field_tag :user_name%><br>
  <%= label_tag :password%>
  <%= password_field_tag :password %><br>
  <%= submit_tag "Login!"%>
  <%end%>