<h2>Sign Up To Play!</h2>
<hr>

<%=form_for @child do |f|%>
<%=f.label :name%>
<%=f.text_field :name%>
<%=f.label :user_name%>
<%=f.text_field :user_name%>
<%=f.label :age%>
<%=f.text_field :age%><br/><br/>

<%=f.submit 'Lets Play!'%>
<%end%>
