<h2><%=@current_recipe.title%></h2>

<%@current_recipe.instructions.map do |current|%>
<li>Ingredients: <%=@current_recipe.find_name_of_food(current.food_item_id)%></li>

<li><%=@current_recipe.find_name_of_tool(current.kitchen_tool_id)%></li>
<li>Instructions: <%=current.content%></li>
<%end%>
<br>
<%= link_to "Edit This Recipe!", edit_recipe_path(:recipe_id => @current_recipe), :Method => :post%>
<%= link_to "Return To Dashboard", child_path %>
 <%= link_to 'Destroy', @current_recipe, method: :delete %>
