 <div class="container-recipe">
      <div class="card " style="width: 50rem; height:40rem">
   <div class="card-body">
<%=image_tag @recipe.image.url, class: "recipe-show"%>
<p class="title"><%=@recipe.title%></p>
<div class= "subtitle">
<ul>
<%@recipe.instructions.map do |instru|%>
<li><strong>FoodItems:</strong> <%=@recipe.find_name_of_food(instru.food_item_id)%>
<li><strong>Tool: </strong> <%=@recipe.find_name_of_tool(instru.kitchen_tool_id)%>
<li><strong>Instructions: </strong> <%=instru.content%>
<%end%>
</ul>
</div>
<br>
<div class=" subtitle is-5">
<%= link_to "Edit This Recipe!", edit_recipe_path(:recipe_id => @recipe.id), :Method => :post%>
<%= link_to "Return To Dashboard", child_path %>
 <%= link_to 'Destroy', @recipe, method: :delete %>
</div>
</div>
</div>
</div>    