 <!DOCTYPE html>
<html>
  <head>
    <title>Quarantine Cuisine</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <ul class="navbar sticky-top navbar-expand-lg navbar-light">
        <h1 class="text-md-center display-1 mt-1">Quarantine Cuisine</h1>
        </ul>
        <br>
        <ul class="nav nav-tabs">
          <% if check_and_see_if_someone_is_logged_in?%>
            LOGGED IN: <%=@current_child.name%>
            <br>
            <li class="nav-item">
              <%= button_to "LOG OUT", logout_path, method: :delete%> </li>
          <%else%>
           <li class="nav-item"><%=link_to "NEW USER", new_children_path%></li>
          <%end%>
        </ul>
      <hr/>
    </div>
    <div class="main-content">
    <%= yield %>
    </div>
    <footer class= "navbar fixed-bottom pb-0">
      <div class="container justify-content-center">
        <p class="lead"> Chrisy Tropila </p>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
